/* YourStyleSheet.css */

/* Overall container */
.container {
    width: 100vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  /* Header styles */
  .header {
    width: 80%;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
  }
  
  
  /* Content styles */
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 80px;
  }
  
  .backgroundImage {
    /* Set background image here */
    background-image: url('/image 6.png');
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.5; /* Adjust the opacity as needed */
  }
  
  .text {
    margin-top: 10px;
    width: 493px;
    text-align: center;
    color: #000000; /* Adjust text color for readability */
    z-index: 1;
  }
  .text h1{
    font-family:  'Public Sans', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 59px;
    letter-spacing: 0em;
    text-align: center;
  }
  .text p{
    font-family:'Public Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;

  }
  .footer{
    margin-top: 40px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer p{
    margin-top: 10px;
    font-family: Public Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
  }
  .footer button{
    width: 291px;
    height: 48px;
    display:flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    background:#121212;
    color: #FFFFFF;
  }
  
  
  /* Style your text, headings, and buttons here */
  /* Media Queries */

@media screen and (max-width: 768px) {
    .header {
      /* Modify styles for smaller screens */
      padding: 15px 0;
      gap: 20%;
      /* justify-content: start; */
      /* Adjust other styles as needed */
    }
    
    .text {
      /* Modify text styles for smaller screens */
      max-width: 90%;
      /* Adjust other styles as needed */
    }
  
    .footer button {
      /* Modify button styles for smaller screens */
      width: 90%;
      /* Adjust other styles as needed */
    }
  }
  
  @media screen and (max-width: 580px) {
    .header {
      /* Further modifications for smaller screens */
      padding: 10px 0;
      /* gap: 10%; */
      width: 80%;
      justify-content: space-between;
      /* Adjust other styles as needed */
    }
    .header button{
      justify-content: center;
      align-items: center;
      width: 147px;
      height: 36px;
      padding: 8px 16px 8px 16px;
      border-radius: 4px;
      /* border: 1px; */
      font-family: Public Sans;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0em;
      text-align: left;

    }
    .header button>img{
      width: 15px;
      height: 15px;
    }
    .header .logo img{
      width: 139.9px;
      height: 16px

    }
    .text {
      /* Further modifications for smaller screens */
      margin-top: 100px;
      max-width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* Adjust other styles as needed */
    }
    .text h1{
        font-family: Public Sans;
        font-size: 30px;
        font-weight: 700;
        line-height: 35px;
        letter-spacing: 0em;
        text-align: center;
    }
    .text p{
        margin-top: 0px;
        font-family: Inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: center;
        width: 272px;
    }
    .footer{
        margin-top: 120px;
    }
    .footer button {
      /* Further modifications for smaller screens */
      width: 291px;
      height: 48px;
      font-family: Public Sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
            /* Adjust other styles as needed */
    }
  }